# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [2]:
import pandas as pd

## imports for Python, Pandas

In [1]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [5]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [6]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

     code                                          name
0       8                             Human development
1      11
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8
18     10                             Rural development
19      7
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5
1482    6         Social protection and risk management
1483    8
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [10]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [15]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [16]:
df = pd.read_json('data/world_bank_projects.json')

In [17]:
df.countryshortname.value_counts()

Indonesia                           19
China                               19
Vietnam                             17
India                               16
Yemen, Republic of                  13
Bangladesh                          12
Morocco                             12
Nepal                               12
Africa                              11
Mozambique                          11
Pakistan                             9
Brazil                               9
Burkina Faso                         9
Armenia                              8
Tanzania                             8
Tajikistan                           8
Kyrgyz Republic                      7
Jordan                               7
Nigeria                              7
Lao People's Democratic Republic     7
Nicaragua                            6
Peru                                 6
West Bank and Gaza                   6
Kenya                                6
Congo, Democratic Republic of        6
Afghanistan                          6
Haiti                                5
Papua New Guinea                     5
Honduras                             5
Moldova                              5
                                    ..
Argentina                            2
Ecuador                              2
Cameroon                             2
Marshall Islands                     2
Cambodia                             2
Mauritius                            2
South Asia                           2
Sri Lanka                            1
Belarus                              1
Chad                                 1
Tuvalu                               1
Chile                                1
Costa Rica                           1
Serbia                               1
Thailand                             1
Romania                              1
Europe and Central Asia              1
Angola                               1
Namibia                              1
Central African Republic             1
Kiribati                             1
Zimbabwe                             1
Panama                               1
Antigua and Barbuda                  1
Cape Verde                           1
East Asia and Pacific                1
Congo, Republic of                   1
Poland                               1
Bosnia and Herzegovina               1
Tonga                                1
Name: countryshortname, Length: 118, dtype: int64

In [22]:
# load json as string
x = json.load((open('data/world_bank_projects.json')))
x = json_normalize(x, 'mjtheme_namecode')
x.name.value_counts()

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

In [21]:
# load json as string

In [29]:
df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [20]:
df.countryname.value_counts()

Republic of Indonesia                       19
People's Republic of China                  19
Socialist Republic of Vietnam               17
Republic of India                           16
Republic of Yemen                           13
People's Republic of Bangladesh             12
Nepal                                       12
Kingdom of Morocco                          12
Republic of Mozambique                      11
Africa                                      11
Burkina Faso                                 9
Islamic Republic of Pakistan                 9
Federative Republic of Brazil                9
Republic of Armenia                          8
United Republic of Tanzania                  8
Republic of Tajikistan                       8
Kyrgyz Republic                              7
Federal Republic of Nigeria                  7
Hashemite Kingdom of Jordan                  7
Lao People's Democratic Republic             7
Republic of Nicaragua                        6
West Bank and Gaza                           6
Republic of Kenya                            6
Democratic Republic of the Congo             6
Republic of Peru                             6
Islamic State of Afghanistan                 6
Republic of Niger                            5
Republic of Uzbekistan                       5
Republic of Haiti                            5
The Independent State of Papua New Guine     5
                                            ..
Republic of Cameroon                         2
Plurinational State of Bolivia               2
Republic of Malawi                           2
Republic of Kosovo                           2
Republic of Mauritius                        2
Islamic Republic of Mauritania               2
Mongolia                                     2
Republic of Kiribati                         1
Republic of Zimbabwe                         1
East Asia and Pacific                        1
Republic of Serbia                           1
Romania                                      1
Bosnia and Herzegovina                       1
Democratic Socialist Republic of Sri Lan     1
Republic of Chile                            1
Republic of Namibia                          1
Republic of Panama                           1
People's Republic of Angola                  1
Republic of Belarus                          1
Republic of Poland                           1
Republic of Congo                            1
Antigua and Barbuda                          1
Tuvalu                                       1
Kingdom of Thailand                          1
Republic of Cape Verde                       1
Kingdom of Tonga                             1
Central African Republic                     1
Republic of Costa Rica                       1
Republic of Chad                             1
Europe and Central Asia                      1
Name: countryname, Length: 118, dtype: int64

In [17]:
df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

In [23]:
df.project_name.max()

'Zambia Water Resources Development Project'

In [26]:
df.countryname.value_counts() > 10

Republic of Indonesia                        True
People's Republic of China                   True
Socialist Republic of Vietnam                True
Republic of India                            True
Republic of Yemen                            True
People's Republic of Bangladesh              True
Nepal                                        True
Kingdom of Morocco                           True
Republic of Mozambique                       True
Africa                                       True
Burkina Faso                                False
Islamic Republic of Pakistan                False
Federative Republic of Brazil               False
Republic of Armenia                         False
United Republic of Tanzania                 False
Republic of Tajikistan                      False
Kyrgyz Republic                             False
Federal Republic of Nigeria                 False
Hashemite Kingdom of Jordan                 False
Lao People's Democratic Republic            False
Republic of Nicaragua                       False
West Bank and Gaza                          False
Republic of Kenya                           False
Democratic Republic of the Congo            False
Republic of Peru                            False
Islamic State of Afghanistan                False
Republic of Niger                           False
Republic of Uzbekistan                      False
Republic of Haiti                           False
The Independent State of Papua New Guine    False
                                            ...
Republic of Cameroon                        False
Plurinational State of Bolivia              False
Republic of Malawi                          False
Republic of Kosovo                          False
Republic of Mauritius                       False
Islamic Republic of Mauritania              False
Mongolia                                    False
Republic of Kiribati                        False
Republic of Zimbabwe                        False
East Asia and Pacific                       False
Republic of Serbia                          False
Romania                                     False
Bosnia and Herzegovina                      False
Democratic Socialist Republic of Sri Lan    False
Republic of Chile                           False
Republic of Namibia                         False
Republic of Panama                          False
People's Republic of Angola                 False
Republic of Belarus                         False
Republic of Poland                          False
Republic of Congo                           False
Antigua and Barbuda                         False
Tuvalu                                      False
Kingdom of Thailand                         False
Republic of Cape Verde                      False
Kingdom of Tonga                            False
Central African Republic                    False
Republic of Costa Rica                      False
Republic of Chad                            False
Europe and Central Asia                     False
Name: countryname, Length: 118, dtype: bool